@charset "UTF-8";

#tabela-produtos {
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
    font-size: 14px;
    text-align: center;
  }

  thead > tr >  th{
    background-color: #00995D;
    color: white;
    padding: 10px;
  }

  tbody > tr > td > button{
    cursor: pointer;
    background-color: #00995D;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
  }

  tbody > tr > td > a:hover{
    text-decoration: underline;
    color: blue;
  }

  tbody > tr > td > button:hover{
    background-color: white;
    color: blue;
    text-decoration: underline;
  }

  tbody tr > td{
    padding: 15px;
    font-weight: bold;
  }

  tbody tr:nth-child(even){
    background-color: #b3f3df56;
  }

  tbody tr:nth-child(odd){
    background-color: #adebd7;
  }


  /* POPOVER */

  #container-popover{
    display: none;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  #popover-conteudo{
  height: 900px;
  width: 800px;
  border-radius: 5px;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  }



  /* POPOVER FICHA */

  .secao {
    margin-bottom: 25px;
    background-color: #eef0f0;
    border-radius: 10px;
    padding: 5px;
  }

  #popover-conteudo h2{
    background-image: linear-gradient(to right, #00995D, transparent);
    padding: 5px;
    border-radius: 5px;
    color: white;
  }
  
  .secao h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
    margin-bottom: 8px;
    color:#068552;
    font-weight: bold;
    font-size: 1.3em;
    padding: 5px ;

  }
  
  .secao ul {
    padding-left: 18px;
  }
  
  .descricao {
    margin-bottom: 25px;

  }

  .btn-produto-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }

  .btn-produto-ficha{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    border: 2px solid black;
  }

  .btn-produto-ficha:hover{
    background-color: white;
    color: green;
  }

  .btn-produto-manual{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
  }

  .btn-produto-manual:hover{
    background-color: white;
    color: blue;
  }