@charset "UTF-8";

.container{
    display: flex;
    flex-flow: row nowrap;
}

aside.filtros{
    margin-top: 20px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--verde-principal);
    color: white;
}

aside.filtros > h2{
    margin-bottom: 20px;
    font-family: "Edu NSW ACT Cursive", cursive;
}

aside.filtros > section > h3{
    margin-bottom: 10px;
}

aside.filtros > section{
    margin-bottom: 30px;
    background-color: var(--fundo-claro);
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}

aside.filtros > section > label, input{
    cursor: pointer;
}

section#tutoriais{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

article.tutorial{
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo-verde);
    padding: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
    border-radius: 5px;
    margin: 20px;
}

article.tutorial > h3{
    font-family: "Edu NSW ACT Cursive", cursive;
    margin-bottom: 5px;
    text-align: center;
}

div#buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

div#buttons > .link-video{
    padding: 10px;
    background-color: var(--verde-principal);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

div#buttons > .link-video:hover{
    background-color: var(--fundo-claro);
    color: var(--verde-principal);
}

div#buttons > .youtube{
    margin-left: 10px;
    background-color: red;
    border: 1px solid black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

div#buttons > .youtube:hover{
    background-color: white;
    color: red;
}
